body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
p{
    font-size: 18px;
    line-height: 28px;
    color:#3E3E3E;
}
h1{
    font-size: 60px;
    line-height: 80px;
    color: #333333;
    border-left:2px solid #4535FF ;
    border-width: 10px;
    display: inline-grid;
    padding-left: 15px;
}
h1 span{
    color:#4535FF;
}
img{
     width: 100%; 
    }
header,section{
    display: flex;
    margin:50px 100px;
}
.button{
    text-align: center;
    background-color:#4535FF ;
    border:1px solid #4535FF;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 0;
}
.button:hover{
   
    background-color:#ffffff ;
    color: #4535FF;
    border:1px solid #4535FF;
   
}
.headerText{
    width: 60%;
    padding-right:30px ;
}
.headerImg{
    width: 45%;
}